/* Файл InvitationBlock.css */

.containerInvitation {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Создаём два столбца: первый вдвое шире второго */
  gap: 20px;
  max-width: 1000px;
  margin: 50px auto;

}

.invitation, .usefulInfo {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.invitation h2, .usefulInfo h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.invitation p, .usefulInfo ul li a {
  color: #555;
  line-height: 1.6;
  font-size: 16px;
}

.invitation p:first-of-type {
  font-weight: bold;
}

.usefulInfo ul {
  list-style: none;
  padding-left: 0;
}

.usefulInfo ul li {
  margin-bottom: 10px;
}

.usefulInfo ul li a {
  text-decoration: none;
  color: #007bff;
}

