.menu {
  width: 0; /* Изначально ширина равна нулю */
  position: fixed;
  top: 127.6px;
  right: -300px; /* Меню изначально находится за экраном */
  height: auto;
  background-color: #f9f9f9;
  overflow-x: hidden; /* Скрываем горизонтальную полосу прокрутки */
  transition: right 0.5s ease-in-out, width 0.5s ease-in-out;
  z-index: 9999;
  border-top: 1px solid #333;
}


.menu.open {
  width: 300px; /* Меню открывается с плавной анимацией */
  right: 0;

}

.overlay {
  position: fixed;
  top: 128px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* Полупрозрачный черный фон */
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 9998; /* Ниже меню, но выше основного контента */
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

  
.menu ul {
  list-style-type: none; /* Убираем маркеры списка */
  padding-left: 0; /* Убираем внутренний отступ слева */
  margin-top: 200px; /* Убираем верхний отступ */
  flex-direction: column;
  text-align: center;
}
  
.menu li {
  margin-bottom: 10px; /* Отступ между пунктами */
  
}
  
.menu a {
  text-decoration: none; /* Убираем подчеркивание ссылок */
  color: #333; /* Темный цвет текста */
  font-size: 18px; /* Размер шрифта */
  
}